package cab302.iirtt.assignment1.model;
// 1. Create a new java class called Constants.java, DO NOT copy, paste and rename this file, but instead, create a new java class called Constants.java (Note: Constants.java.example and Constants.java should both exist in the directory)
// 2. Make your own Gemini API Key from the link below:
// https://aistudio.google.com/prompts/new_chat?model=gemini-2.0-flash
public final class Constants {
    public static final String API_KEY = "AIzaSyCWf5KrfHhNeMShFlL3i3D3kuTv_W6rakY";
}
